<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<title>用户管理</title>
<script src="/js/common/table/page.js"></script>
<script src="/js/sys/user/list.js"></script>
</head>
<body>
<div layout:fragment="content">
<blockquote class="layui-elem-quote">
  <span class="layui-breadcrumb"> 
		<a href="">首页</a> 
		<a href="">权限管理</a>
		<a href="">用户管理</a>
	</span> 
</blockquote>
  <div>
	<form class="layui-form" id="from" action="/admin/sys/users">
		<input type="hidden" name="page" id="page" th:value="${pager.number}"/> 
		<input type="hidden" name="size" id="size" th:value="${pager.size}"/> 
		  <div class="layui-inline">
		    <label class="layui-form-label">用户昵称</label>
		    <div class="layui-input-block">
		      <input type="text" name="queryNickName" lay-verify="" autocomplete="off" placeholder="" class="layui-input" th:value="${queryNickName} == null ? '' : ${queryNickName} ">
		    </div>
		  </div>
		  <div class="layui-inline">
		    <label class="layui-form-label">手机号码</label>
		    <div class="layui-input-block">
		      <input type="text" name="queryMobile" lay-verify="" autocomplete="off" placeholder="" class="layui-input" th:value="${queryMobile} == null ? '' : ${queryMobile} ">
		    </div>
		  </div>
		  <div class="layui-inline">
		    <input class="layui-btn" lay-submit="" type="submit" value="查询"></input>
		  </div>
		  <div class="layui-inline">
		    <a href="/admin/sys/user/0" class="layui-btn"><i class="layui-icon"></i></a>
		  </div>
  	</form>
  </div>
 
	<table class="layui-table">
		<colgroup>
			<col width="150">
			<col width="200">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>用户ID</th>
				<th>用户姓名</th>
				<th>用户昵称</th>
				<th>手机号码</th>
				<th>创建时间</th> 
				<th>当前状态</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			  <tr th:each="user,userStat:${pager.content}">
                	<td th:text="${user.id}">description</td>
                	<td th:text="${user.fullName}">yyy</td>
                	<td th:text="${user.nickName}">yy</td>
                	<td th:text="${user.mobile}">17688968888</td>
                	<td th:text="${user.createTime}">2017-07-15</td> 
                	<td th:text="${user.deleted == 1 ? '停用' : '正常'}">停用 </td>
                	<td>
						<a th:href="@{/admin/sys/user/{userId}(userId = ${user.id})}" > 
							<button class="layui-btn layui-btn-small layui-btn-radius">
								<i class="layui-icon">&#xe642;</i>编辑
							</button>
    					</a>
					</td>
              </tr>
		</tbody>
	</table>
	<div id="laypage"></div>
	<input type="hidden" id="pagerTotalPages" th:value ="${pager.totalPages}"/>
	<input type="hidden" id="pagerNumber" th:value="${pager.number + 1}"/>
</div>
</body>
</html>