<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	layout:decorator="base/layout">
<head>
<title>资源管理</title> 
<script src="/js/common/table/page.js"></script>
<script src="/js/sys/resource/list.js"></script>
</head>
<body>
<div layout:fragment="content">
<blockquote class="layui-elem-quote site-text">
  <span class="layui-breadcrumb"> 
		<a href="">首页</a> 
		<a href="">权限管理</a>
		<a href="">资源管理</a>
	</span> 
</blockquote>
  <div>
	<form class="layui-form" id="from" action="/admin/sys/resources">
		<input type="hidden" name="page" id="page" th:value="${pager.number}"/> 
		<input type="hidden" name="size" id="size" th:value="${pager.size}"/> 
		<input type="hidden" name="totalElements" id="totalElements" th:value="${pager.totalElements}"/>
		  <div class="layui-inline">
		    <label class="layui-form-label">资源名称</label>
		    <div class="layui-input-block">
		      <input type="text" name="queryResourcesName" lay-verify="" autocomplete="off" placeholder="" class="layui-input" th:value="${queryResourcesName} == null ? '' : ${queryResourcesName} ">
		    </div>
		  </div>
		  <div class="layui-inline">
		    <input class="layui-btn" lay-submit="" type="submit" value="查询"></input>
		  </div>
		  <div class="layui-inline">
		    <a href="/admin/sys/resource/0" class="layui-btn"><i class="layui-icon"></i></a>
		  </div>
  	</form>
  </div>
 
	<table class="layui-table">
		<colgroup>
			<col width="150">
			<col width="200">
			<col>
		</colgroup>
		<thead>
			<tr>
				<th>资源ID</th>
				<th>名称</th>
				<th>URL</th>
				<th>级别</th>
				<th>描述</th> 
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			  <tr th:each="resource,resourceStat:${pager.content}">
                	<td th:text="${resource.id}">资源ID</td>
                	<td th:text="${resource.name}">名称</td>
                	<td th:text="${resource.uri}">URL</td>
                	<td th:text="${resource.priority}">级别</td>
                	<td th:text="${resource.description}">描述</td>
                	<td>
						<a th:href="@{/admin/sys/resource/{resourceId}(resourceId = ${resource.id})}" > 
							<button class="layui-btn layui-btn-small layui-btn-radius">
								<i class="layui-icon">&#xe642;</i>编辑
							</button>
    					</a>
					</td>
              </tr>
		</tbody>
	</table>
	<div id="laypage"></div>
	<input type="hidden" id="pagerTotalPages" th:value ="${pager.totalPages}"/>
	<input type="hidden" id="pagerNumber" th:value="${pager.number + 1}"/>
</div>
</body>
</html>