<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<div class="layui-header header">
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<div class="layui-main">
			<ul class="layui-nav" pc>
				<li class="layui-nav-item"><a href="javascript:;"><span
						th:text="${session.LOGINED_USER} == null ? '' : (${session.LOGINED_USER.nickName} == null ? '' : ${session.LOGINED_USER.nickName} )"></span></a>
					<dl class="layui-nav-child">
						<dd>
							<a href="#" target="_blank">个人信息</a>
						</dd>
						<dd> 
							<a th:href="@{/admin/logout?accessToken={accessToken}(accessToken = ${session.access_token})}" target="_Self">退出系统</a>
						</dd>
					</dl></li>
			</ul>
		</div>
	</div>
</div>
</html>