<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<div class="layui-header header">
		<!-- 头部区域（可配合layui已有的水平导航） -->
		<div class="layui-main">
			<ul class="layui-nav" pc>
				<li class="layui-nav-item"><a href="javascript:;">admin(超级管理员)</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="http://fly.layui.com/" target="_blank">个人信息</a>
						</dd>
						<dd>
							<a href="http://fly.layui.com/" target="_blank">退出系统</a>
						</dd>
					</dl></li>
			</ul>
		</div>
	</div>
</div>
</html>