<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
	<!-- 侧边导航: user-role-module-resource -->
	<div th:if="${session.user} != null ? ${session.user.roles} != null : false">
		<ul class="layui-nav layui-nav-tree" lay-filter="test" th:each="role , roleStat : ${session.user.roles}" >
			<li class="layui-nav-item layui-nav-itemed" th:each="module , moduleStat : ${role.modules}">
				 <a href="javascript:;" class="modeule-a" >
				 	<span th:utext="|<i class='layui-icon myicon'>${module.icon==null?'':'&#'}${module.icon==null?'':module.icon}</i>|"></span>
				 	<span th:text="${module.name }" class="module-name">模块名称</span>
				 </a>
				<dl class="layui-nav-child"	th:each="resource ,resourceStat : ${module.resources}">
					<dd>
						<a th:href="${resource.uri}" th:data-pattern="${resource.uri}" th:text="${resource.name}">资源名称</a>
					</dd>
				</dl>
			</li>
		</ul>
	</div> 
</div>
</html>