<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="menu">
	<!-- 侧边导航: user-role-module-resource -->
	<ul class="layui-nav layui-nav-tree" lay-filter="test" th:each="role , roleStat : ${session.user.roles}">
		<li class="layui-nav-item layui-nav-itemed" th:each="module , moduleStat : ${role.modules}">
			 <a href="javascript:;"	th:text="${module.name }">模块名称</a>
			<dl class="layui-nav-child"	th:each="resource ,resourceStat : ${module.resources}">
				<dd>
					<a th:href="${resource.uri}" th:data-pattern="${resource.uri}" th:text="${resource.name}">资源名称</a>
				</dd>
			</dl>
		</li>
	</ul>
</div>
</html>